<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Manager Login</title>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}" async></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="ls-background">
		<div class="ls-box">
			<img src="{% static 'images/task_master_logo.png' %}" alt="logo.jpg">
			<h2>Welcome Back!</h2>
			{% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
			<form action="process_login" method="POST">
				{% csrf_token %}
				<span class="ls-field">
					<label for="email">Email:</label>
					<input type="text" name="email">
				</span>
				<span class="ls-field">
					<label for="password">Password:</label>
					<input type="password" name="password">
				</span>
				<button type="submit">Login</button>
			</form>
			<p>No account? <a href="signup">Signup</a></p>
			<p>Go back <a href="/">Home</a></p>
		</div>
	</div>
</body>
</html>