<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Manager Signup</title>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}" async></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="ls-background">
		<div class="ls-box">
			<img src="{% static 'images/task_master_logo.png' %}" alt="logo.jpg">
			<h2>Let's get you signed up!</h2>
			{% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
			<form action="process_signup" method="POST">
				{% csrf_token %}
				<span class="ls-field">
					<label for="first_name">First Name:</label>
					<input type="text" name="first_name">
				</span>
				<span class="ls-field">
					<label for="last_name">Last Name:</label>
					<input type="text" name="last_name">
				</span>
				<span class="ls-field">
					<label for="company">Company:</label>
					<input type="text" name="company">
				</span>
				<span class="ls-field">
					<label for="email">Email:</label>
					<input type="text" name="email">
				</span>
				<span class="ls-field">
					<label for="password">Password:</label>
					<input type="password" name="password">
				</span>
				<span class="ls-field">
					<label for="confirm_password">Confirm Password:</label>
					<input type="password" name="confirm_password">
				</span>
				<input type="hidden" name="permission_level" value="9">
				<button type="submit">Signup</button>
			</form>
			<p>Already have an account? <a href="login">Login</a></p>
			<p>Go back <a href="/">Home</a></p>
		</div>
	</div>
</body>
</html>